$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-container.home-page img {
  border: none;
}

img.logo {
  border: none;
}

@media (min-width: 1720px){
  .content {
    max-width: 1000px !important;
  }
}